@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1b5581;
  color: #222;
  /* min-height: 100vh; */
}

/* ===== Layout ===== */
.app-container {
  display: flex;
  width: 100%;
  /* min-height: 100vh; */

}

/* SIDEBAR */
.sidebar {
  margin-top: 50px;
  width: 250px;
  background: #1b5581;
  min-height: 100vh;
  padding: 20px 15px;
  transition: all 0.3s ease;
}
.logo {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  color: white;
}
.welcome {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar nav a:hover {
  background-color: #ffd700;
  color: #003366;
  transform: translateX(5px);
}

.sidebar nav a.active {
  background-color: #ffd700;
  color: #003366;
  font-weight: 600;
}

/* MAIN */
.main-content {
  /* flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;  
  align-items: flex-start;   
  padding: 40px 20px; */
  flex: 1;
  padding: 40px 20px;

  display: flex;
  justify-content: center;   /* căn giữa theo phần còn lại */
  align-items: flex-start;

  /* QUAN TRỌNG */
  box-sizing: border-box;
}

/* TOGGLE */
.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 40px;
  z-index: 1000;
  font-size: 22px;
  padding: 5px 10px;
  cursor: pointer;
}

/* TRẠNG THÁI ẨN */
.sidebar-closed .sidebar {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar-closed .main-content {
  margin-left: 0;
}

/* TRẠNG THÁI HIỆN */
.sidebar-open .main-content {
  margin-left: 20px;
}

/* ===== Responsive cho Laptop (từ 1024px trở xuống) ===== */
